// @font-face
//     font-family: 'Raleway'
//     src: url('../fonts/Raleway-Regular-ru.eot')
//     src: url('../fonts/Raleway-Regular-ru.eot?#iefix') format('embedded-opentype')
//     src: url('../fonts/Raleway-Regular-ru.woff2') format('woff2')
//     src: url('../fonts/Raleway-Regular-ru.woff') format('woff')
//     src: url('../fonts/Raleway-Regular-ru.svg#Raleway-Regular') format('svg')
//     font-weight: normal
//     font-style: normal

// @font-face
//     font-family: 'Raleway'
//     src: url('../fonts/Raleway-Medium-ru.eot')
//     src: url('../fonts/Raleway-Medium-ru.eot?#iefix') format('embedded-opentype')
//     src: url('../fonts/Raleway-Medium-ru.woff2') format('woff2')
//     src: url('../fonts/Raleway-Medium-ru.woff') format('woff')
//     src: url('../fonts/Raleway-Medium-ru.svg#Raleway-Medium') format('svg')
//     font-weight: 500
//     font-style: normal

@font-face
    font-family: 'Raleway'
    src: url('../fonts/Raleway-Regular-en.eot')
    src: url('../fonts/Raleway-Regular-en.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Raleway-Regular-en.woff2') format('woff2')
    src: url('../fonts/Raleway-Regular-en.woff') format('woff')
    src: url('../fonts/Raleway-Regular-en.ttf') format('truetype')
    src: url('../fonts/Raleway-Regular-en.svg#Raleway-Regular') format('svg')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Raleway'
    src: url('../fonts/Raleway-Medium-en.eot')
    src: url('../fonts/Raleway-Medium-en.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Raleway-Medium-en.woff2') format('woff2')
    src: url('../fonts/Raleway-Medium-en.woff') format('woff')
    src: url('../fonts/Raleway-Medium-en.ttf') format('truetype')
    src: url('../fonts/Raleway-Medium-en.svg#Raleway-Medium') format('svg')
    font-weight: 500
    font-style: normal